*{

margin:0;

padding:0;

box-sizing:border-box;

font-family:Arial;

}

body{

background:#ececec;

}

.contenedor{

display:flex;

width:90%;

margin:20px auto;

background:white;

}

.izquierda{

width:30%;

background:#665453;

color:white;

padding:30px;

}

.derecha{

width:70%;

padding:40px;

}

.foto{

width:180px;

height:180px;

border-radius:50%;

display:block;

margin:auto;

border:6px solid white;

object-fit:cover;

}

h1{

font-size:45px;

}

.negro{

font-weight:bold;

}

.azul{

color:#21496d;

font-weight:normal;

}

h2{

margin-top:25px;

margin-bottom:10px;

letter-spacing:3px;

}

hr{

margin-bottom:15px;

}

ul{

margin-left:20px;

}

p{

margin-top:10px;

margin-bottom:10px;

line-height:28px;

}

button{

margin-top:20px;

padding:12px;

background:#21496d;

color:white;

border:none;

cursor:pointer;

font-size:16px;

border-radius:5px;

}

button:hover{

background:#16344f;

}